@charset "UTF-8";

/*
    em HTML id = em CSS é #
    em HTML class = em CSS é .
*/


body{
    background-color: rgba(48, 131, 103, 0.432);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(49, 49, 124);
}

h1#principal{

    text-align: center;
    color: white;
    background-image: linear-gradient( rgb(39, 39, 167), rgb(0, 0, 255), rgb(82, 82, 247));
    width: 510px;
    height:  40px;
    border-radius: 5px;
    
}

.basico{
    color: blue;
}
.intermediario{
    color: rgb(22, 22, 196);
}
.avancado{
    color: rgb(1, 1, 114);
}

h2{
    
    color: rgb(58, 57, 57);
}

p{
    text-align: justify;
    color: rgb(6, 79, 88);
}